{{ define "header" }}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SuiFullNodeChecker</title>
  <meta name="description" content="Node checker for operators">
  <link rel="canonical" href="sui">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css">
  <link href="https://getbootstrap.com/docs/5.1/examples/cover/cover.css" rel="stylesheet">
  <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0"><a href="/">CheckSui</a></h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="/tasks">Checks</a>
      </nav>
    </div>
  </header>
{{ end }}